body { 
    font-family: "Inter", sans-serif;
    margin: 0;
}
h1 {
    margin: 0;
}
.hidden { display: none; }
.role-admin { color: red; font-weight: bold; }
.role-user { color: blue; }
.wrap {
    margin: 0;                          /* убираем отступы */
    height: 100vh;                      /* высота — 100% окна */
    background-image: url('/style/img/background.png');
    background-size: cover;              /* растягивает картинку на всю страницу */
    background-repeat: no-repeat;        /* запрещает повторение */
    background-position: center center;  /* центрирует картинку */
    background-attachment: fixed;
    mix-blend-mode: luminosity;
}

.window-auth{
    position: absolute;
    width: 120vh;
    height: 70vh;
    left: calc(50% - 120vh/2);
    top: calc(50% - 70vh/2);

    background: radial-gradient(58.43% 103.88% at 56.74% 50%, #00C7B1 20%, #003465 100%);
    box-shadow: 355px 556px 250px rgba(0, 0, 0, 0.01), 200px 312px 223px rgba(0, 0, 0, 0.05), 89px 139px 165px rgba(0, 0, 0, 0.09), 22px 35px 91px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    opacity: 0.85;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;
    transition: opacity 0.4s ease; /* 👈 плавный переход прозрачности */
}

.window-auth:hover {
  opacity: 0.95; /* 👈 при наведении — чуть менее прозрачный */
}

.window-login{
    display: flex;
    flex-direction: column;
    justify-content: center; /* по горизонтали */
    align-items: center;
    background-color: #1A1A1A;
    border: 1px solid #2E2E2E;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
    padding: 40px 80px;
    color: white;
}

.button-loggin{
    border: none;
    background: linear-gradient(279.25deg, #00C7B1 36.24%, #00BBFF 63.76%);
    border-radius: 10px;
    color: white;
    font-size: 16;
    padding: 10px 100px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button-loggin:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 187, 255, 0.4);
}

#login-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}