<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Табло</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/pari_logo_comp.png">
    <script>window.CURRENT_USER = { role: "{{ role|e }}" };</script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="user-background">
        <div class="container">
          <div class="navigation-panel">
            <div class="navigation-buttons">
              <button class="general-actions" id="general-actions">Общие акции</button>
              <button class="personal-actions" id="personal-actions">Персональные акции</button>
              <button class="bonus-wager" id="bonus-wager">Отыгрыш бонуса</button>
              <button class="events-smm">Конкурсы в соцсетях</button>
              <button class="tablo active-page" id="tablo">Табло</button>
            </div>
            <div class="profile-panel">
              <button class="profile-button"><span class="profile-icon"></span></button>
              <div class="profile-menu hidden" id="profile-menu">
                <button class="profile-menu-item hidden" id="profile-admin">Администрирование</button>
                <button class="profile-menu-item" id="profile-logout">Выйти из профиля</button>
              </div>
              <button id="btn-superadmin" class="hidden">SUPER-ADMIN</button>
            </div>
          </div>
        </div>
        <div class="wager-body">
          <div class="tablo-window-id-client">
            <div class="wager-window-id-client-body">
              <div class="wager-window-id-client-title">Наличие фрибета</div>
              <div class="wager-window-id-client-input">
                <span>ID клиента</span>
                <input type="text" placeholder="12345678">
              </div>
              <div class="wager-window-id-client-button"><button class="button-wager">Проверить</button></div>
            </div>
          </div>
          <div class="wager-window-tablo-info">
            <div class="wager-window-tablo-info-body">
              <div class="tablo-info-body-response">
                <div class="atention-vip-response">

                </div>
              </div>
              <div class="buttons-answers-for-clients hidden">
                <button class="answer-left"><img src="/static/img/arrow_left_enable.png" alt="left"></button>
                <button class="answer-right"><img src="/static/img/arrow_right_enable.png" alt="right"></button>
              </div>
              <button class="tablo-info-body-button-copy hidden">Скопировать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script defer src="{{ url_for('static', path='scriptTABLOAUTH.js') }}?v=12"></script>
    <script defer src="{{ url_for('static', path='scriptTABLO.js') }}?v=1"></script>
  </body>
</html>